# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Audio + DB
*.mp3
*.wav
raybot_v2.sqlite

# OS / Editor files
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/

# Temporary files
*.tmp
*.log